* {
    font-family: 'PT Serif', serif;
}

body {
    background-image: url("../images/cartographer/cartographer.png");
}

.weather-sum {
    font-weight: bold !important;
}

#head-title {
    color: black; /* Text color will need to be changed for header */
    background: solid;
    background-color: white; /* Background color will need to be changed for header along with OPACITY */
}